@model UniversityCorrespondencePortal.Models.ViewModels.OutwardLetterViewModel
@{
    var staffList = Model.StaffOptions ?? new List<UniversityCorrespondencePortal.Models.Staff>();
    var departments = Model.DepartmentOptions ?? new List<UniversityCorrespondencePortal.Models.Department>();
}

<div class="modal fade" id="addOutwardModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="post" action="@Url.Action("CreateOutwardLetter", "Clerk")">
                @Html.AntiForgeryToken()
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Add Outward Letter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body row g-3">

                    <div class="col-md-6">
                        <label>Letter Number</label>
                        <input type="text" name="LetterNumber" class="form-control" required />
                    </div>

                    <div class="col-md-6">
                        <label>Date Received</label>
                        <input type="date" name="DateReceived" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label>Time Received</label>
                        <input type="time" name="TimeReceived" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label>Delivery Mode</label>
                        <input type="text" name="DeliveryMode" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label>Sender (Staff)</label>
                        <select name="StaffID" class="form-select" required>
                            <option value="">-- Select --</option>
                            @foreach (var staff in staffList)
                            {
                                <option value="@staff.StaffID">@staff.Name</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label>Sender Department</label>
                        <input type="text" name="SenderDepartment" class="form-control" readonly value="@ViewBag.ClerkDepartment" />
                    </div>

                    <div class="col-md-6">
                        <label>Receiver Department</label>
                        <select name="ReceiverDepartments" id="receiverDeptSelect" class="form-select" onchange="toggleOther('receiverDeptSelect', 'otherReceiverDept')">
                            <option value="">-- Select --</option>
                            @foreach (var dept in departments)
                            {
                                <option value="@dept.DepartmentName">@dept.DepartmentName</option>
                            }
                            <option value="Other">Other</option>
                        </select>
                        <input type="text" name="ReceiverDepartments" id="otherReceiverDept" class="form-control mt-2" placeholder="Enter Department Name" style="display:none;" />
                    </div>

                    <div class="col-md-6">
                        <label>Receiver Name(s)</label>
                        <input type="text" name="ReceiverNames" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label>Reference ID</label>
                        <input type="text" name="ReferenceID" class="form-control" />
                    </div>

                    <div class="col-md-6">
                        <label>Subject</label>
                        <input type="text" name="Subject" class="form-control" />
                    </div>

                    <div class="col-md-12">
                        <label>Remarks</label>
                        <textarea name="Remarks" class="form-control" rows="2"></textarea>
                    </div>

                    <div class="col-md-6">
                        <label>Priority</label>
                        <select name="Priority" class="form-select">
                            <option value="Normal">Normal</option>
                            <option value="Urgent">Urgent</option>
                            <option value="Confidential">Confidential</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="bi bi-check-circle"></i> Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
